{% extends 'base.html' %}

{% load static %}

{% block title %}
	Blog Personal - Blogs
{% endblock title %}

{% block CSSStylesheets %}
    <link rel="stylesheet" href="{% static 'CSS/blogs.css' %}" />
{% endblock CSSStylesheets %}

{% block main %}
    <main class="main">
		<!-- Noticia -->
		<section class="main-containerNew">
			<div class="main-containerNew-content">
				<h3>Noticia</h3>
				<img src="{{ firstPost.image.url }}" alt="Imagen del blog" />
				<div class="main-containerNew-content-info">
					<h2>{{ firstPost.title }}</h2>
					<p>{{ firstPost.description }}</p>
					<a class="main-blogButton" href="{% url 'post' firstPost.id %}">Leer más</a>
				</div>
			</div>
		</section>
		<!-- Últimos Blog spots -->
		<section class="main-containerPosts">
			<h3>Últimos Blogspots</h3>
            {% for post in posts %}
                <div class="main-containerPosts-Blog">
                    <img src="{{ post.image.url }}" alt="Imagen del blog" />
                    <h4>{{ post.title }}</h4>
                    <p>{{ post.description }}</p>
                    <a class="main-blogButton" href="{% url 'post' post.id %}">Leer más</a>
                </div>
            {% endfor %}
		</section>
	</main>
{% endblock main %}

{% block contact %} {% endblock contact %}