{% load static %}

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %} {% endblock title %}</title>
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/media-query.css' %}" />
	</head>

	<body {% block bodyClass %} {% endblock bodyClass %}>
		<header class="header">
			<div class="social">
				<div class="social-icons">
					<a href=""><i class="fab fa-facebook"></i></a>
					<a href=""><i class="fab fa-youtube"></i></a>
					<a href=""><i class="fab fa-twitter"></i></a>
					<a href=""><i class="fab fa-instagram"></i></a>
					<a href=""><i class="fab fa-github"></i></a>
				</div>
			</div>

			<nav class="nav">
				<div class="nav-logo">
					<a href="{% url 'home' %}">
						<img src="{% static 'img/logo.png' %}" alt="Logo de la Pagina" />
					</a>
				</div>
				<div class="nav-link">
					<a href="{% url 'profile' %}">Sobre mí</a>
				</div>
			</nav>
		</header>

		{% block main %} {% endblock main %}
		
		{% block contact %}
			<section class="section-contact">
				<div class="contact">
					<img src="{% static 'img/013-newsletter.png' %}" alt="" />
					<div class="contact-info">
						<a href="">Contacto</a>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
					</div>
				</div>
				<div class="contact">
					<img src="{% static 'img/006-like.png' %}" alt="" />
					<div class="contact-info">
						<a href="">Escribe</a>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
					</div>
				</div>
			</section>
		{% endblock contact %}

		{% block footer %}
			<footer>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
			</footer>
		{% endblock footer %}
	</body>
</html>
