{% extends 'base.html' %}

{% load static %}

{% block title %}
	Blog Personal - Inicio
{% endblock title %}

{% block CSSStylesheets %}
	<link rel="stylesheet" href="{% static 'CSS/index.css' %}" />
{% endblock CSSStylesheets %}


{% block bodyClass %}
	class="body"
{% endblock bodyClass %}

{% block main %}
	<main class="main">
		<div class="main-container">
			<p class="main-container-text">Conoce las novedades y noticias del mundo tecnológico.</p>
			<a class="main-container-blogsLink" href="{% url 'blogs' %}">Entra ya!</a>
		</div>
	</main>
{% endblock main %}

{% block contact %} {% endblock contact %}

{% block footer %} {% endblock footer %}
